.cart{
    margin-top: 80px;
    padding: 20px;
}
.cart-header{
    font-size: 40px;
    font-weight: 600;
}
.cart-properties{
    display: flex;
    justify-content: flex-end;
}
.cart-header-container:after{
    content: "";
    display: block;
    width: 1200px;
    height: 2px;
    margin-top: 5px;
    background-color: black;
}
.price{
    margin-right: 150px;
}
.total-money{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.subtotal{
    margin-right: 20px;
}
.subtotal-footer{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}
.continue-shoping{
    height: 40px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #f72585;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    color:#f72585;
}
.update-cart{
    height: 40px;
    margin-top: 20px;
    background-color: white;
    border: 1px solid #f72585;
    font-size: 15px;
    font-weight: 500;
    margin-right: 10px;
    color:#f72585;
}
.check-out{
    height: 40px;
    margin-top: 20px;
    background-color: #f72585;
    border: 1px solid #f72585;
    font-size: 15px;
    font-weight: 500;
}