.search__wrapper {
  width: 50%; 
  padding: 0 100px 0 200px; 
  position: relative;
}
.search__input {
  border: 2px solid #14213d;
  color: #14213d;
  font-size: 14px;
  padding: 5px 10px;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
}
.search__input:focus {
  outline: none;
}
.search__icon {
  vertical-align: middle;
  position: absolute;
  left: 88%;
  top: 20%;
  cursor: pointer;
  font-size: 15px;
}

@media (max-width: 576px) {
  .search__wrapper {
  width: 53%; 
  padding: 0; 
}
}