.checkout__wrapper {
  display: flex;
  justify-content: space-evenly;
}
.checkout-left__wrapper {
  width: 50%;
  padding: 20px;
  float: left;
}

@media (max-width: 576px) {
  .checkout__wrapper {
    flex-direction: column-reverse;
  }
  .checkout-left__wrapper {
    width: unset;
  }
}
