.product-filter__wrapper {
  min-width: 270px;
  background-color: #fff;
  padding-left: 15px;
}
.product-filter__heading {
  font-size: 18px;
  font-weight: 500;
}
.product-filter__sort label,
.product-filter__sort input {
  cursor: pointer;
}
