.caraousal-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 85vh;
  margin-bottom: 20px;
  margin-top: 0px;
  position: relative;
}
.caraousal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
}
.carousal-images {
  width: 100%;
  height: 100%;
  position: relative;
  transition-duration: 2s ease;
}
.carousal-images img {
  width: 100%;
  height: 100%;
}
.right-icon {
  position: absolute;
  top: 40%;
  right: 10px;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.right-icon:hover {
  background-color: black;
  opacity: 0.3;
}
.left-icon {
  position: absolute;
  top: 40%;
  left: 10px;
  font-size: 30px;
  color: white;
  opacity: 0.8;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-icon:hover {
  background-color: black;
  opacity: 0.3;
}
.slide {
  opacity: 0;
  transition-duration: 2s ease;
}
.slide.active {
  width: 98.5%;
  opacity: 1;
  transition-duration: 1s;
  height: 100%;
}

.dot {
  cursor: pointer;
  height: 5px;
  width: 25px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 10%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.shop-offer {
  position: absolute;
  height: 100%;
  left: 5%;
  top: 0%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}
.offer-tag {
  font-size: 30px;
  font-weight: 800;
  padding: 10px;
}
.offer-line {
  font-size: 20px;
  padding: 10px;
}
.offer-shop-now {
  background-color:white;
  color: black;
  margin: 15px;
  padding: 8px;
  border-radius: 3px;
  font-size: 25px;
  font-weight: 600;
  opacity: 1;
}
.offer-shop-now:hover {
  cursor: pointer;
  background-color: #f72585;
}


@media (max-width: 576px) {
  .caraousal-container {
    height: 40vh;
  }
  
  .shop-offer {
    position: absolute;
    height: 100%;
    left: 5%;
    top: -20%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    opacity: 0.7;
  }
  .offer-tag {
    font-size: 15px;
    padding: 0px;
  }
  .offer-line {
    font-size: 10px;
    padding: 5px;
  }
  .offer-shop-now {
    margin: 8px;
    padding: 4px;
    font-size: 15px;
  }
}
