.cart-entry__card {
  background-color: #fff;
  max-width: 60%;
  min-height: 150px;
  margin: 20px auto;
  padding: 20px 10px 10px;
  display: flex;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 1px solid #e3e3e3;
}
.cart-entry__image {
  cursor: pointer;
}
.cart-entry__image img {
  width: 100px;
}
.cart-entry__details {
  max-width: 60%;
}
.cart-entry__price {
  font-weight: 700;
  min-width: 80px;
  font-size: 18px;
}
.cart-entry__title {
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-entry__description {
  font-weight: 300;
  color: #353030;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cart-entry__description:first-letter {
  text-transform: capitalize;
}
.cartentry__size,
.cartentry__quantity {
  display: inline;
  font-size: 18px;
}
.cart-entry__wrapper {
  width: 100%;
}
