.cart-entry{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cart-image{
    width: 70px;
}
.product{
    display: flex;
}
.product-details{
    display: flex;
    justify-content: flex-end;
}
.product-price{
    margin-right: 150px;
}
.product-quantity{
    margin-right: 150px;
}
.product-total{
    margin-right: 150px;
}