.App {
  /* background-color: white; */
  background-color: #f7f7ff;
  font-weight: 600;
}
/* .main {
  margin-top: 70px;
} */

body {
  scrollbar-color: #808080 #1d2e32;
  scrollbar-width: 8px;
}
body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-thumb {
  background-color: #808080;
  border-radius: 20px;
  outline: none;
}
