.login-modal__wrapper {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  animation: fadeIn 0.3s;
  z-index: 999;
}
.login-modal__card {
  background-color: white;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sign-in-options{
  display: flex;
  justify-content: space-around;
}
.sign-in-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-in-form input{
  height: 40px;
  width: 80%;
  margin: 10px 0px;
  font-size: 20px;
  opacity: 0.5;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
  background-color: #D3D3D3;
}
.line-divider{
  width: 99%;
  border: 2px solid black;
  opacity: 0.1;
}
.buttons{
  margin-top: 10px;
}
.google-icon {
  width: 75px;
  height: 75px;
}
.facebook-icon{
  width: 75px;
  height: 75px;
}
.google-icon-wrapper {
  margin-top: 1px;
  margin-left: 1px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
}
.facebook-icon-wrapper{
  margin-top: 1px;
  margin-left: 1px;
  box-shadow: 0 4px 12px 0 rgb(0 0 0 / 15%);
  background-color: white;
}
.google-btn {
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
}
.facebook-btn {
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
